
    <li><a href="{{ path('afficherpanier')}}"><li><span class="m_1">Votre Panier</span>&nbsp;&nbsp;({{ articles }}) &nbsp;<img src="{{ asset('images/bag.png')}}" alt=""/></li></a>
            <div class="clearfix"> 